@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SolaimanLipiNormal';
    font-style: normal;
    font-weight: normal;
    src: local('./assets/font/solaimanlipi.woff'), url('./assets/font/solaimanlipi.woff') format('woff');
    }


    html {
        margin: 0;
        padding: 0;
        font-family: 'SolaimanLipiNormal', 'Roboto', sans-serif !important;
      
        /* 'Hind Siliguri' */
      
        scroll-behavior:smooth;
    
    
      
      }
      
      