<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset Success</title>
  </head>
  <body>
    <% if (message) { %>
    <h1><%= message %></h1>
    <% } %>
    <a href="http://localhost:5173/login">Go to Login Page</a>
  </body>
</html>
