<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset Success</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <div class="bg-pink-100 m-2 p-10 rounded-xl shadow-xl">
        <% if (message) { %>
        <h1><%= message %></h1>
        <% } %>
        <a
          class="bg-[#ff0081] text-white rounded-full py-2 px-6 text-lg"
          href="http://localhost:5173/login"
          >Go to Login Page</a
        >
      </div>
    </div>
  </body>
</html>
