<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset password</title>
  </head>
  <body>
    <!-- Display an error message if passwords do not match
    <% if (typeof error_message !== 'undefined') { %>
    <p style="color: red"><%= error_message %></p>
    <% } %> -->
    <!-- Error message placeholder -->
    <div class="flex justify-center items-center h-screen bg-gray-100">
      <div
        class="flex justify-center items-center border m-4 p-10 shadow-xl rounded-xl bg-white shadow-purple-300 hover:shadow-purple-400 transition-all duration-500 bg-blur-md backdrop-blur-sm bg-white/30"
      >
        <form action="" method="POST">
          <center>
            <img class="w-24 p-2 m-2" src="../public/images/ring.png" alt="" />
            <p class="font-semibold text-lg m-2 text-gray-700">
              Reset Password
            </p>
            <p class="font-semibold m-2 text-[#707070] mb-6">
              Don't worry, we will reset it for you.
            </p>
          </center>

          <p
            class="mb-2 transition-all duration-500"
            id="error_message"
            style="color: red"
          ></p>

          <input type="hidden" name="user_id" value="<%= user.id %>" />
          <input type="hidden" name="email" value="<%= user.email %>" />
          <input
            class="border rounded-md p-2 w-full focus:outline-none focus:border-[#f396fe] focus:ring focus:ring-[#f396fe]"
            type="password"
            name="password"
            required
            placeholder="New Password"
          />
          <br /><br />
          <input
            class="border rounded-md p-2 w-full focus:outline-none focus:border-[#f396fe] focus:ring focus:ring-[#f396fe]"
            type="password"
            name="confirm_password"
            required
            placeholder="Confirm Password"
          />

          <!-- Client-side JavaScript to check if passwords match -->
          <script>
            function checkPasswordMatch() {
              var password = document.querySelector(
                'input[name="password"]'
              ).value;
              var confirm_password = document.querySelector(
                'input[name="confirm_password"]'
              ).value;
              var error_message = document.querySelector("#error_message");

              if (password !== confirm_password) {
                error_message.style.color = "red";
                error_message.textContent = "Password do not match!";
              } else {
                error_message.style.color = "green"; // Change text color to green
                error_message.textContent = "Password Match!";
              }
            }

            document
              .querySelector('input[name="confirm_password"]')
              .addEventListener("input", checkPasswordMatch);
          </script>
          <center>
            <input
              class="text-center m-6 bg-[#ea00c5] text-white rounded-full py-2 px-8 hover:shadow-lg hover:bg-[#ff0081] transition-all duration-300"
              type="submit"
              name="password"
              value="Reset "
            />
          </center>
        </form>
      </div>
    </div>
  </body>
</html>
