<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset password</title>
  </head>
  <body>
    <!-- Display an error message if passwords do not match
    <% if (typeof error_message !== 'undefined') { %>
    <p style="color: red"><%= error_message %></p>
    <% } %> -->
    <!-- Error message placeholder -->
    <p id="error_message" style="color: red"></p>

    <form action="" method="POST">
      <input type="hidden" name="user_id" value="<%= user.id %>" />
      <input type="hidden" name="email" value="<%= user.email %>" />
      <input
        type="password"
        name="password"
        required
        placeholder="New Password"
      />
      <br /><br />
      <input
        type="password"
        name="confirm_password"
        required
        placeholder="Confirm Password"
      />

      <!-- Client-side JavaScript to check if passwords match -->
      <script>
        function checkPasswordMatch() {
          var password = document.querySelector('input[name="password"]').value;
          var confirm_password = document.querySelector(
            'input[name="confirm_password"]'
          ).value;
          var error_message = document.querySelector("#error_message");

          if (password !== confirm_password) {
            error_message.style.color = "red";
            error_message.textContent = "Password do not match!";
          } else {
            error_message.style.color = "green"; // Change text color to green
            error_message.textContent = "Password Match!";
          }
        }

        document
          .querySelector('input[name="confirm_password"]')
          .addEventListener("input", checkPasswordMatch);
      </script>
      <br /><br />
      <input type="submit" name="password" value="Reset Password" />
    </form>
  </body>
</html>
